<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nblog.mapper.BlogMapper">
    <select id="getBlogList" resultType="com.nblog.bean.Blog">
        SELECT b.id,b.uid,u.username,b.title, b.typeid, IFNULL(r.pv,0) AS readCount,b.top, b.summary,b.oncomment, b.createtime,b.state FROM tbblog AS b
            INNER JOIN tbuser AS u ON b.uid = u.id
            LEFT JOIN tbreads AS r ON b.id = r.bid
        WHERE b.isdel=0
        <if test="uid != null">
            AND b.uid=#{uid}
        </if>
        <if test="state != -1">
            AND state = #{state}
        </if>
        <if test="state == -1">
            AND state != 3
        </if>
        <if test="keywords != null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        <if test="typeid != null">
            AND typeid = #{typeid}
        </if>
        ORDER BY b.top DESC, b.modifytime DESC limit #{start},#{count};
    </select>

    <select id="getBlogTotleCount" resultType="Integer">
        SELECT count(1) AS blogTotleCount FROM tbblog WHERE isdel =0
        <if test="uid != null">
            AND uid=#{uid}
        </if>
        <if test="state != -1">
            AND state = #{state}
        </if>
        <if test="state == -1">
            AND state != 3
        </if>
        <if test="keywords != null">
            AND title LIKE concat('%',#{keywords},'%')
        </if>
        <if test="typeid != null">
            AND typeid = #{typeid}
        </if>
    </select>

    <select id="getTipCount" resultType="map">
        SELECT count(1) AS totleCount,
          sum(IF(state = 1, 1, 0)) AS openCount,
          sum(IF(state = 2, 1, 0)) AS privateCount,
          sum(IF(state = 0, 1, 0)) AS draftCount,
          sum(IF(state = 3, 1, 0)) AS delCount
        FROM tbblog WHERE isdel = 0;
    </select>

    <select id="getBlogDetail" resultType="com.nblog.bean.Blog">
        SELECT b.id, u.username, b.title, b.typeid, b.top, IFNULL(r.pv,0) AS readCount,b.state, b.htmlContent, b.modifytime FROM tbblog AS b
        INNER JOIN tbuser AS u ON b.uid = u.id
        LEFT JOIN tbreads AS r ON b.id = r.bid
        WHERE isdel=0 AND b.id=#{bid};
    </select>

    <update id="updateBlog" parameterType="com.nblog.bean.Blog">
        UPDATE tbblog SET modifytime=now()
        <if test="oncomment!=null">
            ,oncomment=#{oncomment}
        </if>
        <if test="top!=null">
            ,top=#{top}
        </if>
        <if test="isdel!=null">
            ,isdel=#{isdel}
        </if>
        <if test="state!=null">
            ,state=#{state}
        </if>
        WHERE id=#{id}
    </update>

</mapper>