<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nblog.mapper.CommentMapper">
    <select id="getCommentCount" resultType="Long">
        SELECT  count(1) AS commentcount FROM tbcomment AS c,tbblogcommentrelation AS bc WHERE c.id = bc.cid AND bc.bid=#{bid}
    </select>
</mapper>