<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nblog.mapper.RolesMapper">
    <select id="getRolesByUid" resultType="com.nblog.bean.Role">
        SELECT r.* FROM tbRoles AS r,tbuserrolerelation AS ur WHERE r.id = ur.rid AND ur.uid=#{uid}
    </select>
</mapper>